<div class="app-header">
        <a href="/">
            <img class="logo" src="http://trupanion.com//trupanion/resources/images/logos/trupanion-logo-white.png" title="Trupanion Logo" alt="Trupanion Logo">
            <!--<img class="logo-mobile" src="/trupanion/resources/images/logos/trupanion-logo-no-tag-mobile.png" title="Trupanion Logo" alt="Trupanion Logo">-->
            <!--<img class="logo-desktop" src="http://trupanion.com//trupanion/resources/images/logos/trupanion-logo-normal.png" title="Trupanion Logo" alt="Trupanion Logo">-->
        </a>
        <span class="underwriter"><br>Underwritten by American Pet Insurance Company</span>
</div>