<div class="social-container">
    <div class="container">
        <div class="row">
            <div class="span10 offset1">
                <div class="social-icons">
                    <ul>
                        <li>
                            <a class="social-link" href="https://www.linkedin.com/company/206006/" target="_blank"><img class="img-responsive" src="/dist/images/Linkedin-newsletter.jpg" /></a>
                        </li>
                        <li>
                            <a class="social-link" href="https://www.facebook.com/Trupanion/" target="_blank"><img class="img-responsive" src="/dist/images/Facebook-newsletter.jpg" /></a>
                        </li>
                        <li>
                            <a class="social-link" href="https://twitter.com/Trupanion" target="_blank"><img class="img-responsive" src="/dist/images/Twitter-newsletter.jpg" /></a>
                        </li>
                        <li>
                            <a class="social-link" href="https://plus.google.com/+trupanion" target="_blank"><img class="img-responsive" src="/dist/images/google-newsletter.jpg" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>